<p><%= link_to t('product.new'), new_product_path %></p>

<ul>
<% @products.each do |product| %>
	<li class="product">
		<%= product.name %>
		<ul>
			<li><%= link_to t(:Edit), edit_product_path(product) %></li>
		</ul>
	</li>
<% end %>
</ul>